@model CarViewModel;
@using CarSharing.Models.ViewModels;
<div>
    <h1> Your selected car:</h1>
</div>

<table class="table">
    <tr>
        <th>
            <p>Brand</p>
        </th>
        <th>
            <p>Model</p>
        </th>
        <th>
            <p>Engine</p>
        </th>
        <th>
            <p>Color</p>
        </th>
        <th>
            <p>Additional Equipment</p>
        </th>
        <th>
            <p>Rented From</p>
        </th>
         <th>
            <p>Rented To</p>
        </th>
    </tr>
     <tr>
        <td>@Model.brand</td>
        <td>@Model.model</td>
        <td>@Model.engine</td>
        <td>@Model.color</td>
        <td>@Model.additionalEquipment</td>
        <td>
        <table>
                @foreach(var rel in @Model.reservations)
                {
                        <tr>
                            <td>@rel.rentedFrom</td>
                        </tr>
                }
                </table>
                </td>
                <td>
                <table>
               @foreach(var rel in @Model.reservations)
                {
                        <tr>
                            <td>@rel.rentedTo</td>
                        </tr>
                }
                </table>        
        </td>
     </tr>       
</table>
@Html.Partial("ReservationForm", new ReservationViewModel(){ carId = Model.id})
<div id="container">
    <div id="div1">
        <br />
        <h3>
        <b id="text">Select another car</b>
        </h3>
         @*<button>*@
             <a class="btn btn-primary" asp-action="ListOfCars" asp-controller="ListOfCars">Car list</a>
        @*</button> *@   
    </div>
</div>

